localhostFiles/rankings.json
localhostFiles/rankings.txt
localhostFiles/port.js

# playwright
test-results/
playwright-report/

# prompts
prompts/

.VSCodeCounter

out/
dist/
node_modules/

npm-debug.log*
.npm
