* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif ;
}

/* .navbar {
    background-color: lightgray;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%;
} 
*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.flag {
    position: relative;
    top: 0.5rem;
    width: 2rem;
    height: 2rem;
}

.button {
    display: block;
    width: 90%;
    background-color: #0C1B3E;
    border:none;
    padding: 1rem;
    color:white;
    font-weight: bold;
    margin: 0 auto;
    cursor: pointer;
}

button:disabled,
button[disabled]{
  /* border: 1px solid #4e4e4e; */
  background-color: #838383;
  color: #4e4e4e;
}

hr {
    border: 1px solid #0C1B3E;
    margin-bottom: 1rem;
}

ul {
    margin-left: 1.5rem;
}

ul > ul {
    margin-left: 1.5rem;
}

main {
    width: 90%;
    margin: 0 auto;
}

.noInfo {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team {
    /* background-color: lightsteelblue; */
    position: relative;
    top: 1rem;
    background: rgb(2,0,36);
    background: linear-gradient(118deg, rgba(2,0,36,1) 0%, rgb(31, 31, 168) 0%, rgb(24, 116, 253) 100%); 
    color:white;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.8rem;
}

#info {
    margin-top: 3rem;
}

body {
 background: rgb(255,255,255);
background: linear-gradient(94deg, rgba(255,255,255,1) 0%, rgba(149,149,149,1) 0%, rgba(41,41,41,1) 100%); 
    font-size: 16px;
}

table {
    width: 100%;
    font-size: 1rem;
}
th {
    width: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    font-size: 70%;
}

td {
    font-weight: normal;
}
td.ranking {
    width: 5rem;
}

td.faction {
    width: 9rem;
}

td.rank-name {
    width: 10rem;
}

td.rank {
    width: 5rem;
    font-size: 90%;
}

td.name {
    font-weight: bold;
    width: 13rem;
}



