.container {
    position: relative;
}

.input {
    background-color: var(--bg-input);
    color: var(--text-primary);
    height: 1em;
    width: 2.8em;
    border: none;
    border-bottom: solid 0.1em var(--bg-body);
    font-size: 100%;
    text-align: center;
}

.error {
    position: absolute;
    top: 100%;
    left: 0;
    color: var(--text-error);
    font-size: 70%;
    white-space: nowrap;
}
