.container {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    color: #ccc;
    padding: 0.3em 0.5em;
}

.navbar {
    background-color: #181818;
    color: #ddd;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 7.5em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: 100;
    cursor: default;
    overflow: hidden;
    font-size: 90%;
}

.navbarRight {
    background-color: #181818;
    color: #ddd;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 7.5em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: 100;
    cursor: default;
    overflow: hidden;
    font-size: 90%;
}

.navbarTop {
    background-color: #181818;
    color: #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    cursor: default;
    overflow: hidden;
    font-size: 90%;
}

.containerTop {
    display: contents;
    color: #ccc;
}

.columnTop {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.columnTop:last-child {
    margin-right: 1em;
}

.iconsTop {
    display: flex;
    align-items: center;
    gap: 0.1em;
    padding: 0 0.5em;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 0.1em;
    padding: 1.8em 0.5em 0.6em;
}

.row {
    display: flex;
    font-size: 90%;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    margin: 0;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 0 0.4em;
    gap: 0.2em;
    border-top: 1px solid #333;
    padding-top: 0.5em;
}

.radio {
    display: flex;
    align-items: center;
}

.radio input {
    cursor: pointer;
    accent-color: #111;
}

.radio label {
    margin-left: 0.4em;
    cursor: pointer;
}
