.container {
    margin: 0 1.2em;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    color: gray;
}

.navbar {
    background-color: #181818;
    color: #ddd;
    position: fixed;
    top: 0;
    left: 0;
    height: 3em;
    width: 100%;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    z-index: 100;
    cursor: default;
}
