.container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    color: var(--text-secondary);
    padding: 0.3em 0.5em;
}

.navbarBase {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    position: fixed;
    top: 0;
    display: flex;
    z-index: 100;
    cursor: default;
    overflow: hidden;
    font-size: 90%;
}

.navbarLeft {
    left: 0;
    height: 100%;
    width: 7.5em;
    gap: 1em;
    flex-direction: column;
    align-items: stretch;
}

.navbarRight {
    right: 0;
    height: 100%;
    width: 7.5em;
    gap: 1em;
    flex-direction: column;
    align-items: stretch;
}

.navbarTop {
    left: 0;
    width: stretch;
    height: 3em;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5em;
}

.containerTop {
    display: contents;
    color: var(--text-secondary);
}

.columnTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
}

.columnTop:last-child {
    margin-right: 1em;
}

.iconsBase {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    gap: 0.9em;
}

.iconsTop {
    padding: 0 0.5em;
    align-self: stretch;
    align-items: center;
}

.icons {
    flex-direction: column;
    padding: 1em 0.5em 0.6em;
}

.row {
    display: flex;
    font-size: 90%;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    margin: 0;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 0 0.4em;
    gap: 0.2em;
    padding-top: 0.5em;
}

.separatorV {
    width: 1px;
    align-self: stretch;
    background-color: var(--border-separator);
    flex-shrink: 0;
}

.separatorH {
    height: 1px;
    background-color: var(--border-separator);
    margin: 0 -0.5em;
}

.radio {
    display: flex;
    align-items: center;
}

.radio input {
    cursor: pointer;
    accent-color: var(--accent-input);
}

.radio label {
    margin-left: 0.4em;
    cursor: pointer;
}
