.container {
    padding: 0.5em;
    margin: 1em;
    color: var(--text-primary);
    border: solid 0.05em var(--text-primary);
    cursor: pointer;
    /* width: 10em; */
    width: 100%;
}

.container:hover {
    background-color: var(--bg-hover);
}

.flagImage {
    height: 1em;
    margin-right: 1em;
}

.alias {
    font-weight: bold;
}

.label {
    text-align: left;
    padding-right: 1em;
}

.table {
    color: var(--text-muted);
    font-size: 80%;
}
