@keyframes example {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.load {
    display: inline-block;
    width: 1em;
    height: 1em;
}

.load:after {
    content: ' ';
    display: block;
    width: 1em;
    height: 1em;
    /* margin: 8px; */
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: example 1.2s linear infinite;
}