.row {
    text-align: center;
}
.row:hover {
    background-color: var(--bg-hover);
}

.row td {
    overflow: hidden;
    font-size: 75%;
}

.name {
    font-weight: bold;
    color: var(--text-muted);
    text-align: left;
}
