.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(200, 200, 200, 0.5);
}

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5em 2em 2em 2em;
    padding: 1em;
    border: 1px solid #fff;
    background-color: #181818;
    color: #ddd;
    overflow-y: auto;
}

.label {
    display: inline-block;
    color: gray;
    font-size: 90%;
    min-width: 40%;
}

.value {
    color: yellow;
}

.table {
    margin: 1em 0 0 0;
    table-layout: fixed;
    width: 100%;
    cursor: default;
}
