.row {
    text-align: center;
}
.row:hover {
    background-color: rgb(38, 38, 38);
}

.row td {
    overflow: hidden;
    font-size: 75%;
}

.name {
    font-weight: bold;
    color: gray;
    text-align: left;
}

