.navbarLeft {
    margin-left: 8em;
    margin-right: 1em;
}

.navbarRight {
    margin-right: 8em;
    margin-left: 1em;
}

.navbarTop {
    margin-top: 4em;
    margin-left: 1em;
    margin-right: 1em;
}
