* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

*:focus {
  outline: none;
}

body {
  cursor: default;
  background-color: gray;
  font-size: 16px;
}

main {
  margin: 0 1em;
}

table {
  border-spacing: 0;
}

::-webkit-scrollbar {
  width: .4em;
}
/* Track */
::-webkit-scrollbar-track {
  background: gray;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(66, 66, 66);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(50, 50, 50);
}


/* @media only screen and (min-width: 1000px) {
  body {
    font-size: 32px;
  }
  input[type=checkbox] {
    transform: scale(2);
    margin-right: 1em;
  }
  input[type=radio] {
    transform: scale(2);
    margin-right: 1em;
  }

} */