.span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}

.span:hover {
    color: var(--text-primary);
}

.span input {
    margin-right: 0.5em;
    accent-color: var(--accent-input);
}
