.textDiv {
    min-height: 1em;
    font-size: 90%;
    overflow-wrap: break-word;
    background-color: #999;
    padding: .3em;
    margin-bottom: .2em;
    border: solid .05em #555;
}

.input {
    width: 100%;
    background-color: #dddddd;
    padding: .3em;
    margin-bottom: .2em;
    border: solid .05em #555;
}

.error {
    background-color: darkred;
    color: white;
    font-size: 90%;
    padding: .2em;
    margin-left: 1em;
}